* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../public_html/Global-las-aerolíneas-pantalla-ancha-Fondos-de-pantalla-1920x1080.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: difference;
}

.main {
    width: 100%;
    background-color: rgb(36, 36, 201);
    border-top: 1px solid rgb(5, 5, 5);
    border-bottom: 1px solid rgb(5, 5, 5);
}
.main .left {
    display: inline;
}
.main .left .avion {
    width: 50px;
    padding: 10px;
}
.main .buscar {
    float: right;
}
.main .buscar .input1, .btn1 {
    padding: 8px;
    margin: 12px;
    border-radius: 5px;
}

.main .buscar .input1 {
    background-color: rgba(3, 0, 0, 0.281);
    color: rgb(252, 250, 250);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main .buscar .btn1 {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 1s;
}

.main .buscar .btn1:hover {
    background-color: #cccccc;
    color: black;
    cursor: pointer;
    transition: 1s;
}

.main .buscar .input1:hover {
    background-color: rgb(78, 60, 233);
    color: cornsilk;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*navegador*/
.nav {
    margin-top: 10px;
}
.nav .lista {
    text-align: right;
    height: 30px;
}

.nav .lista li {
    display: inline;
}

.nav .lista li a {
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    padding: 8px;
    color: rgb(255, 254, 254);
    transition: 1s;
}

.nav .lista li a:hover {
    background-color: rgba(67, 67, 221, 0.959);
    border-radius: 5px;
    color: white;
    transition: 1s;
}

/* section*/
.sec1 .img1 .divimg1 {
    display: inline-block;
}
.sec1 .img1 .divimg1 {
    box-sizing: content-box;
    width: 100%;
    text-align: center;
    margin-top: 2px;
    background-color: rgba(0, 0, 0, 0.651);
    background-image: url(../public_html/avindex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 395px;
    border-top: 2px solid rgb(5, 5, 5);
    border-bottom: 2px solid rgb(5, 5, 5);
} 

.sec1 .img1 .divimg1 h2 {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
    color: rgb(5, 0, 0);
    margin-top: 150px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
}

.sec1 .img1 .parrafo {
    text-align: center;
}

.sec1 .img1 .parrafo h2 {
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: rgba(0, 0, 0, 0.329);
    display: inline-block;
    color: rgb(253, 250, 250);
    font-family: monospace;
}
.sec1 .img1 .formulario {
    width: 100%;
    margin-top: 2px;
}

.sec1 .img1 .formulario {
    float: right;
}

/*formulario*/

.formulario {
    width: 100%;
    height: 362px;
    background-image: url(../public_html/asientos.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.formulario .persona {
    text-align: center;
    width: 45%;
    margin-top: 17px;
    display: inline-block;
}

.formulario .persona {
    float: left;
}

.formulario .persona .data .title {
    font-size: 15px;
    color: rgb(250, 248, 248);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.formulario .persona .data {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 10px;
}

.formulario .persona .inputs {
    margin: 8px;
    padding: 8px;
    width: 40%;
    border-radius: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.411);
}

::-webkit-input-placeholder {
    color: rgb(255, 254, 254);
    text-align: center;
}

.formulario .rserva {
    border-left: 2px solid black;
    width: 52%;
    height: 365px;
    text-align: center;
    display: inline-block;
}

.formulario .rserva .box-title {
    display: inline;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 4px;
    color: rgb(253, 252, 252);
}

.formulario .rserva .box-title h2, h4 {
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 40px;
}

.formulario .rserva .inputs {
    margin: 9px;
    display: inline;
}

::-webkit-input-placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formulario .rserva .inputs .input input {
    padding: 4px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.288);
    border-radius: 5px;
    color: white;
}

.formulario .rserva .inputs i, label {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formulario .rserva .inputs .label {
    background-color: rgba(0, 0, 0, 0.233);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.formulario .rserva .inputs .label label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formulario .rserva .inputs .boton {
    padding: 5px;
    background-color: rgb(33, 33, 216);
    color: white;
    margin: 10px;
    border-radius: 5px;
}

.formulario .rserva .inputs .boton:hover {
    background-color: rgba(6, 6, 134, 0.973);
    cursor: pointer;
}

/*article*/

.main2 {
    width: 100%;
    margin-top: 60px;
    background-image: url(../public_html/newyork.jpg);
    background-position: center;
    background-size: cover;
}

.main2 .logo {
    width: 95%;
    text-align: center;
    height: 600px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.main2 .logo .imglogo {
    margin: 20px;
    text-align: center;
}

.main2 .logo .ley1, .ley2 {
    width: 95%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.747);
    color: white;
    padding: 20px;
}