/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/11/2016, 12:41:06
    Author     : NombreUser
*/
html,body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    
}
h1{
    text-align: left;
    /*margin-left: 130px;*/
    color:darkcyan;
    width: 85%;
    margin: auto;
    display: inline-block;
}
section{
            width: 85%;
            margin: auto;
            display: inline-block;
            color :white;
            text-align: left;
            font-size: 20px;
            
        }
        
        
        article{
          width: 31%;
          display: inline-block;
          vertical-align: top;
          border: 10px;
          box-sizing: border-box;
          padding: 14px;
       
        }
        
        
        a, .boton{
          border: 4px solid white;
          box-sizing: border-box;
          padding: 10px;
          text-align: left;
          
          /*margin: auto;*/
          text-decoration: none;
          display: inline-block;
          color:white;
        }
        
        div{
         text-align: left;   
         width: 85%;
         margin: auto;
         display: inline-block;
        } 
         
         form{
            background: darkcyan;
            
        }
        
        
        input {
            background: darkcyan;
            width: 100%;
            border: 4px solid white;
            margin-bottom: 20px;
            padding-top : 15px;
            padding-bottom: 15px; 
            
            
        }
        
        textArea{
            background: darkcyan;
            width: 100%;
            height: 100%;
            border: 4px solid white;
            margin-bottom: 50px;
            padding-top : 100px;
            padding-bottom: 15px; 
            
                        
        }
        
        select {
            background: darkcyan;
            width: 100%;
            border: 4px solid white;
            margin-bottom: 50px;
            padding-top : 15px;
            padding-bottom: 15px; 
            font-size: large;
            color: blue;
            
            
        }
        
      
    /*aca arranco yo     */
   

 
       
    .imagenes {
       
    color: white;
    width: 31%;
    float: right;
    /*padding-top: 250px;
    /*border: 2px solid white ;
    box-sizing: border-box;
    /*height: 865px;*/
        
    }
    
    img {
        border: solid;
        border-color: black;
    }
    
    footer{
	background: black;
	color: white;
	font-size: 11px;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
}



/*responsive---------------------------------------*/


@media (max-width: 960px) {
    
    article{
        width: 48%;
      
    }
    
    .imagenes {
        width: 100%;
    }
}



@media (max-width: 480px) {
    
    article{
        width: 100%;
        text-align: center;
    }
    
    .imagenes {
        width: 100%;
    }
    
    .boton{
       width: 100%;
       text-align: center;
        
    }
    
    h1{
        width: 100%;
        font-size: 150%
    }
}