*{
    box-sizing: border-box;
}
html,body {
    margin: 0;
    font-family: arial,helvetica,sans-serif;
    background-color: black;
}
header{
	text-align: center;
}

header h1{
	color: #0E9DD3;
	background: black;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
header nav{
	background: #0E9DD3;
	padding-top: 10px;
	padding-bottom: 10px;
}



/*aca termina el header*/

#sectionAside{
    width: 100%;
   
    border-left: solid;
    /*height: 100%;*/
     background-image: url("avionnubes.jpg");
     height: 900px;
    background-size: cover;
     background-position: center;
}


.container{
	width: 1030px;

	padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row{
	position: relative;
    margin-left: -15px;
    margin-right: -15px;
}
.about-contact{
	padding-left: 100px;
    padding-right: 100px;
}

.form-contact{
	margin-top: 30px;
}
div.holder{
    position: relative;
    margin-bottom: 25px;
}
.holder-half{
	width: 50%;
	float: left;
	position: relative;
	padding-right: 15px;
	margin-bottom: 25px;
}
label{
	display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.form-label{
	font-size: 14px;
	font-family: "Open Sans Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-input{
	width: 100%;
    padding: 8px 15px;
    line-height: 24.2px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.form-select{
	line-height: 38px;
    display: block;
    width: 100%;
    height: 42px;
    border: 1px solid #ccc;
    color: inherit;
}
option{
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.input-textarea{
    min-height: 150px;
    line-height: 1.5;
    padding-top: 15px;
    width: 100%;
}
.form-button{
	padding-left: 35px;
    padding-right: 35px;
    background: #558ce6;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 14px 15px;
}

footer{
	background: black;
	color: white;
	font-size: 11px;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
}





@media(max-width: 960px){
    .container{
        width: auto;
    }
}

@media(max-width: 480px){
    .about-contact{
        padding-left: 10px;
        padding-right: 10px;
    }
    .container{
        width: auto;

    }
    nav a{
        width: 100%;
        height: 42px;
    }
    .holder-half{
        width: 100%;
    }

}



 