/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/11/2016, 19:19:14
    Author     : NombreUser
*/



html,body{
	margin: 0;
	padding: 0;
	font-family: arial, helvetica, sans-serif;
}

header{
	text-align: center;
}

header h1{
	color: #0E9DD3;
	background: black;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
header nav{
	background: #0E9DD3;
	padding-top: 10px;
	padding-bottom: 10px;
}

.sec1 article{
    background-color: black;
    color: white;
    width: 50%;
    float: left;
    padding-top: 250px;
    /*border: 2px solid white ;*/
    box-sizing: border-box;
    height: 400px;
    border: solid;
   border-color: black;
   border-bottom-color: black;
}

.sec2 article{
    background-color: black;
    width: 25%;
    color: white;
    float: left;
    padding-top: 200px;
    /*border: 2px solid white ;*/
    box-sizing: border-box; 
    height: 400px;
    border: solid;
   border-color: black;
}


div {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
}

article{
    position: relative;
}

img{
    width: 100%;
    box-sizing: content-box;
   }

   
#img1{
    
     background-image: url("disney-plane-res.jpg");
     background-size: cover;
     background-position: center;
}

#img2{
     background-image: url("simpson.jpg"); 
     background-size: cover;
     background-position: center;
}

#img3{
     background-image: url("mickey.jpg");  
     background-size: cover;
     background-position: center;
}

#img4{
     background-image: url("lobo.jpg");  
     background-size: cover;
     background-position: center;
}

#img5{
     background-image: url("sw.jpg");  
     background-size: cover;
     background-position: center;
}

#img6{
    background-image: url("cuervoplot.jpg");   
    background-size: cover;
    background-position: center;
}

p,h2{
    text-align: center;
}
footer{
	background: black;
	color: white;
	font-size: 11px;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
}

@media (max-width: 768px){
    
    .sec1 article{
        width: 33.33%;
        padding-top: 200px; 
    }
    .sec2 article{
        width: 33.33%;
    }
        
    body{
        background-color: black;
    }
}

@media (max-width: 480px){
    
    .sec1 article{
        width: 50%;
    }
    .sec2 article{
        width: 50%;
    }
        
    body{
        background-color: black;
    }
}

@media (max-width: 320px){
    
    .sec1 article{
        width: 100%;
    }
    .sec2 article{
        width: 100%;
    }
        
    body{
        background-color: black;
    }
}