/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/11/2016, 20:34:35
    Author     : NombreUser
*/
*{
    box-sizing: border-box;
}
html,body {
    margin: 0;
    font-family: arial,helvetica,sans-serif;
    background-color: black;
}
header{
	text-align: center;
}

header h1{
	color: #0E9DD3;
	background: black;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
header nav{
	background: #0E9DD3;
	padding-top: 10px;
	padding-bottom: 10px;
}

 aside{
    width: 20%;
    float: left;
    border-right: solid;
    height: 877px;
    background-color: gray;  
    background-size: cover;
    background-position: center;
     }

    #navAside a{
    font-size: 20px;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    background-color: rgba(0,0,0,0.5);
    
    
}

main{
    width: 78%;
    /* margin: auto; */
    /* background: #EEECEC; */
    padding: 20px;
    box-sizing: border-box;
    float: left;
    margin-left: 2%;
    background-image: url("avionnubes.jpg");
    background-size: cover;
}

main section {
    width: 80%;
    float: left;
}

.col-1, .col-2{
        float: left;
    width: 50%;
}

article{
        width: 90%;
    margin: auto;
    background: white;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

article img{
    width: 100%;
}

.clear{
    clear: both;
}

p {
    font:large Palatino bold italic;
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 110%;
    
}
footer{
	background: black;
	color: white;
	font-size: 11px;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
}
@media(max-width: 960px){
    main section{
        width: 100%;
    }
    article{
        width: 100%;
        background: none;
    }
    img{
        border: solid;
        border-color: blanchedalmond;
    }
    p{
        font-size: 110%;
    }
    /*.col-1, col-2{
        margin: 0 auto;
    }
    .col-2{
        margin-left: 1px;
    }*/
}
@media (max-width: 480px){

    aside{
        width: 100%;
         
       
    }

    #sectionAside{
        width: 100%;
    }

    #navAside a{
          font-size: 100%;
    }
    header nav a{
        font-size: 90%;
    }
    .col-1{
        width: 100%;

        }

        main{
            width: 100%;
        }


        .clear{
        clear: both;
    }
}

