/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/11/2016, 20:34:35
    Author     : NombreUser
*/
html,body {
    margin: 0;
    font-family: arial,helvetica,sans-serif;
    background-color: black;
}
header{
	text-align: center;
}

header h1{
	color: #0E9DD3;
	background: black;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
header nav{
	background: #0E9DD3;
	padding-top: 10px;
	padding-bottom: 10px;
}


/*aca termina el header*/

#sectionAside{
    width: 78%;
    float: right;
    border-left: solid;
    /*height: 100%;*/
     background-image: url("avionnubes.jpg");
     height: 900px;
    background-size: cover;
     background-position: center;
}
     
 aside{
    width: 20%;
    float: left;
    border-right: solid;
    height: 900px;
    background-color: gray;  
    background-size: cover;
    background-position: center;
     }

    #navAside a{
    font-size: 20px;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    background-color: rgba(0,0,0,0.5);
    
    
}